
/**********************************

Use: Reset Styles for all browsers

***********************************/
html, body {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    direction: rtl;
    font-family: 'Open Sans Hebrew';
}
body {
    overflow-x: hidden;
}
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}


p,
blockquote {
    margin: 0;
    padding: 0;
}

a img,
iframe {
    border: none;
}
/* Headers
------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
/* Lists
------------------------------*/
ul,
ol,
dl,
li,
dt,
dd {
    margin: 0;
    padding: 0;
}
/* Links
------------------------------*/
/* Forms
------------------------------*/
form,
fieldset {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 1px solid #000;
}

legend {
    padding: 0;
    color: #000;
}

input,
textarea,
select {
    margin: 0;
    padding: 0;
    font-size: 100%;
     font-family: 'Open Sans Hebrew';
}

select {
    padding: 0;
}

ul {
    list-style-type: none;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

    nav ul {
        list-style: none;
        height: 100%;
    }

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: 'Open Sans Hebrew';
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
}

ol, ul {
    list-style: none;
}

caption, th, td {
    text-align: right;
    font-weight: normal;
}


/* Reset html */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
   
     font-family: 'Open Sans Hebrew';
    vertical-align: baseline;
}


br {
    clear: both;
    display: block;
}
/* End Reset html */

input[type="text"] {
    min-height: 22px;
}

input {
    border-radius: 5px;
}

    input[type=checkbox][disabled],
    input[disabled],
    select[disabled],
    textarea[disabled],
    input[readonly],
    select[readonly],
    textarea[readonly] {
        cursor: not-allowed;
        background-color: #eeeeee;
    }

    input[type=checkbox][disabled],
    input[type="radio"][disabled],
    input[type="checkbox"][disabled],
    input[type="radio"][readonly],
    input[type="checkbox"][readonly] {
        background-color: transparent;
    }

    input:-moz-placeholder,
    textarea:-moz-placeholder {
        color: #999999;
    }

    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: #999999;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: #999999;
    }

address {
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 20px;
}

code,
pre {
    padding: 0 3px 2px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

code {
    padding: 2px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    pre.prettyprint {
        margin-bottom: 20px;
    }

    pre code {
        padding: 0;
        color: inherit;
        white-space: pre;
        white-space: pre-wrap;
        background-color: transparent;
        border: 0;
    }

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

form {
    margin: 0 0 0;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

    legend small {
        font-size: 15px;
        color: #999999;
    }

label,
input,
button,
select,
textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    
    margin: 0;
    vertical-align: middle;
}
label,
textarea {
    font-size: 16px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


textarea {
    height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    min-height: 40px;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}


input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 0;
    margin-top: 1px \9;
    *margin-top: 0;
    line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

select,
input[type="file"] {
    height: 30px;
    /* In IE7, the height of the select element cannot be changed by height, only font-size */
    *margin-top: 4px;
    /* For IE7, add top margin to align select with labels */
    line-height: 30px;
}

select {
    width: 220px;
    min-height: 35px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

    select[multiple],
    select[size] {
        height: auto;
    }

span.checkbox {
    cursor: pointer;
}

button,
input {
    *overflow: visible;
    line-height: normal;
}

    button::-moz-focus-inner,
    input::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    button,
    html input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        cursor: pointer;
        -webkit-appearance: button;
    }

    select,
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    input[type="radio"],
    input[type="checkbox"] {
        cursor: pointer;
    }

    input[type="search"] {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-appearance: textfield;
    }

        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }


    input:disabled, input.disabled,select:disabled {
        background: #dddddd;
    }
